WALLET_MNEMONIC="your seed phrase 12 words"
WALLET_VERSION=v4
TONCENTER_API_KEY=
COLLECTION_OWNER="0QAULi--WEaWikW1Tzalrgi1vTYYCCsk007SJPOGPiNVhCQq" #Address of NFT Collection Owner
ADMIN_ADDRESS="0QAULi--WEaWikW1Tzalrgi1vTYYCCsk007SJPOGPiNVhCQq" #Address of Jet Admin
REF_PERCENT=10